@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("../src/assets/ms_sans_serif.woff") format("woff");
  src: url("../src/assets/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("../src/assets/ms_sans_serif_bold.woff") format("woff");
  src: url("../src/assets/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
.title-bar, .window, button, input, label, option, select, table, textarea, ul.tree-view {
  font-size: 14px;
  line-height: 18px;
}

div {
  box-sizing: border-box;
}

html {
  cursor: url("../src/assets/dino.gif"), default;
}

body {
  min-height: calc(100vh + 200px);
  margin: 0;
  background-image: url(../src/assets/dancing-cat-dancing-kitten.gif);
  background-position: center;
  font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

#info {
  font-size: 27px;
  filter: brightness(100);
  position: fixed;
  bottom: 14px;
  right: 14px;
  display: flex;
  z-index: 999;
}

.dragndrop-container {
  touch-action: none;
}

.site-container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.big {
  font-size: 55px;
  line-height: 67px;
}

.medium {
  font-size: 21px;
  line-height: 26px;
}

.window-container {
  position: absolute;
  opacity: 0;
}
.window-container table > tbody > tr > * {
  height: 23px;
}
.window-container#presents {
  left: 9%;
  top: 97px;
  rotate: -5deg;
  z-index: 10;
}
.window-container#jill {
  left: -10%;
  top: 294.682px;
  rotate: 1deg;
  z-index: 2;
}
.window-container#featuring {
  left: 37%;
  top: 300px;
  z-index: 1;
}
.window-container#details {
  top: 125px;
  left: 55%;
}
.window-container table > tbody > tr > * {
  height: 18px;
}
.window-container[data-size=large] {
  min-width: 240px;
}
.window-container[data-size=large] .window-body {
  font-size: 38px;
  white-space: nowrap;
}
.window-container[data-size=large] .window-body li {
  font-size: 14px;
  line-height: 20px;
}
.window-container[data-size=medium] .window-body {
  font-size: 16px;
}
.window-container .window {
  min-width: 240px;
  position: absolute;
  opacity: 0;
}
.window-container:nth-child(1) {
  animation: window-popup 0.1s forwards calc(1 * 0.3s);
}
.window-container:nth-child(1) .window:nth-child(1) {
  top: calc(1 * 6px);
  left: calc(1 * 6px);
  animation: window-popup 0.1s forwards calc(1 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(2) {
  top: calc(2 * 6px);
  left: calc(2 * 6px);
  animation: window-popup 0.1s forwards calc(2 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(3) {
  top: calc(3 * 6px);
  left: calc(3 * 6px);
  animation: window-popup 0.1s forwards calc(3 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(4) {
  top: calc(4 * 6px);
  left: calc(4 * 6px);
  animation: window-popup 0.1s forwards calc(4 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(5) {
  top: calc(5 * 6px);
  left: calc(5 * 6px);
  animation: window-popup 0.1s forwards calc(5 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(6) {
  top: calc(6 * 6px);
  left: calc(6 * 6px);
  animation: window-popup 0.1s forwards calc(6 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(7) {
  top: calc(7 * 6px);
  left: calc(7 * 6px);
  animation: window-popup 0.1s forwards calc(7 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(8) {
  top: calc(8 * 6px);
  left: calc(8 * 6px);
  animation: window-popup 0.1s forwards calc(8 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(9) {
  top: calc(9 * 6px);
  left: calc(9 * 6px);
  animation: window-popup 0.1s forwards calc(9 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(10) {
  top: calc(10 * 6px);
  left: calc(10 * 6px);
  animation: window-popup 0.1s forwards calc(10 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(11) {
  top: calc(11 * 6px);
  left: calc(11 * 6px);
  animation: window-popup 0.1s forwards calc(11 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(12) {
  top: calc(12 * 6px);
  left: calc(12 * 6px);
  animation: window-popup 0.1s forwards calc(12 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(13) {
  top: calc(13 * 6px);
  left: calc(13 * 6px);
  animation: window-popup 0.1s forwards calc(13 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(14) {
  top: calc(14 * 6px);
  left: calc(14 * 6px);
  animation: window-popup 0.1s forwards calc(14 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(15) {
  top: calc(15 * 6px);
  left: calc(15 * 6px);
  animation: window-popup 0.1s forwards calc(15 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(16) {
  top: calc(16 * 6px);
  left: calc(16 * 6px);
  animation: window-popup 0.1s forwards calc(16 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(17) {
  top: calc(17 * 6px);
  left: calc(17 * 6px);
  animation: window-popup 0.1s forwards calc(17 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(18) {
  top: calc(18 * 6px);
  left: calc(18 * 6px);
  animation: window-popup 0.1s forwards calc(18 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(19) {
  top: calc(19 * 6px);
  left: calc(19 * 6px);
  animation: window-popup 0.1s forwards calc(19 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(1) .window:nth-child(20) {
  top: calc(20 * 6px);
  left: calc(20 * 6px);
  animation: window-popup 0.1s forwards calc(20 * 0.1s + 0.5s * 1);
}
.window-container:nth-child(2) {
  animation: window-popup 0.1s forwards calc(2 * 0.3s);
}
.window-container:nth-child(2) .window:nth-child(1) {
  top: calc(1 * 6px);
  left: calc(1 * 6px);
  animation: window-popup 0.1s forwards calc(1 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(2) {
  top: calc(2 * 6px);
  left: calc(2 * 6px);
  animation: window-popup 0.1s forwards calc(2 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(3) {
  top: calc(3 * 6px);
  left: calc(3 * 6px);
  animation: window-popup 0.1s forwards calc(3 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(4) {
  top: calc(4 * 6px);
  left: calc(4 * 6px);
  animation: window-popup 0.1s forwards calc(4 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(5) {
  top: calc(5 * 6px);
  left: calc(5 * 6px);
  animation: window-popup 0.1s forwards calc(5 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(6) {
  top: calc(6 * 6px);
  left: calc(6 * 6px);
  animation: window-popup 0.1s forwards calc(6 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(7) {
  top: calc(7 * 6px);
  left: calc(7 * 6px);
  animation: window-popup 0.1s forwards calc(7 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(8) {
  top: calc(8 * 6px);
  left: calc(8 * 6px);
  animation: window-popup 0.1s forwards calc(8 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(9) {
  top: calc(9 * 6px);
  left: calc(9 * 6px);
  animation: window-popup 0.1s forwards calc(9 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(10) {
  top: calc(10 * 6px);
  left: calc(10 * 6px);
  animation: window-popup 0.1s forwards calc(10 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(11) {
  top: calc(11 * 6px);
  left: calc(11 * 6px);
  animation: window-popup 0.1s forwards calc(11 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(12) {
  top: calc(12 * 6px);
  left: calc(12 * 6px);
  animation: window-popup 0.1s forwards calc(12 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(13) {
  top: calc(13 * 6px);
  left: calc(13 * 6px);
  animation: window-popup 0.1s forwards calc(13 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(14) {
  top: calc(14 * 6px);
  left: calc(14 * 6px);
  animation: window-popup 0.1s forwards calc(14 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(15) {
  top: calc(15 * 6px);
  left: calc(15 * 6px);
  animation: window-popup 0.1s forwards calc(15 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(16) {
  top: calc(16 * 6px);
  left: calc(16 * 6px);
  animation: window-popup 0.1s forwards calc(16 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(17) {
  top: calc(17 * 6px);
  left: calc(17 * 6px);
  animation: window-popup 0.1s forwards calc(17 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(18) {
  top: calc(18 * 6px);
  left: calc(18 * 6px);
  animation: window-popup 0.1s forwards calc(18 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(19) {
  top: calc(19 * 6px);
  left: calc(19 * 6px);
  animation: window-popup 0.1s forwards calc(19 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(2) .window:nth-child(20) {
  top: calc(20 * 6px);
  left: calc(20 * 6px);
  animation: window-popup 0.1s forwards calc(20 * 0.1s + 0.5s * 2);
}
.window-container:nth-child(3) {
  animation: window-popup 0.1s forwards calc(3 * 0.3s);
}
.window-container:nth-child(3) .window:nth-child(1) {
  top: calc(1 * 6px);
  left: calc(1 * 6px);
  animation: window-popup 0.1s forwards calc(1 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(2) {
  top: calc(2 * 6px);
  left: calc(2 * 6px);
  animation: window-popup 0.1s forwards calc(2 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(3) {
  top: calc(3 * 6px);
  left: calc(3 * 6px);
  animation: window-popup 0.1s forwards calc(3 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(4) {
  top: calc(4 * 6px);
  left: calc(4 * 6px);
  animation: window-popup 0.1s forwards calc(4 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(5) {
  top: calc(5 * 6px);
  left: calc(5 * 6px);
  animation: window-popup 0.1s forwards calc(5 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(6) {
  top: calc(6 * 6px);
  left: calc(6 * 6px);
  animation: window-popup 0.1s forwards calc(6 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(7) {
  top: calc(7 * 6px);
  left: calc(7 * 6px);
  animation: window-popup 0.1s forwards calc(7 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(8) {
  top: calc(8 * 6px);
  left: calc(8 * 6px);
  animation: window-popup 0.1s forwards calc(8 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(9) {
  top: calc(9 * 6px);
  left: calc(9 * 6px);
  animation: window-popup 0.1s forwards calc(9 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(10) {
  top: calc(10 * 6px);
  left: calc(10 * 6px);
  animation: window-popup 0.1s forwards calc(10 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(11) {
  top: calc(11 * 6px);
  left: calc(11 * 6px);
  animation: window-popup 0.1s forwards calc(11 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(12) {
  top: calc(12 * 6px);
  left: calc(12 * 6px);
  animation: window-popup 0.1s forwards calc(12 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(13) {
  top: calc(13 * 6px);
  left: calc(13 * 6px);
  animation: window-popup 0.1s forwards calc(13 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(14) {
  top: calc(14 * 6px);
  left: calc(14 * 6px);
  animation: window-popup 0.1s forwards calc(14 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(15) {
  top: calc(15 * 6px);
  left: calc(15 * 6px);
  animation: window-popup 0.1s forwards calc(15 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(16) {
  top: calc(16 * 6px);
  left: calc(16 * 6px);
  animation: window-popup 0.1s forwards calc(16 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(17) {
  top: calc(17 * 6px);
  left: calc(17 * 6px);
  animation: window-popup 0.1s forwards calc(17 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(18) {
  top: calc(18 * 6px);
  left: calc(18 * 6px);
  animation: window-popup 0.1s forwards calc(18 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(19) {
  top: calc(19 * 6px);
  left: calc(19 * 6px);
  animation: window-popup 0.1s forwards calc(19 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(3) .window:nth-child(20) {
  top: calc(20 * 6px);
  left: calc(20 * 6px);
  animation: window-popup 0.1s forwards calc(20 * 0.1s + 0.5s * 3);
}
.window-container:nth-child(4) {
  animation: window-popup 0.1s forwards calc(4 * 0.3s);
}
.window-container:nth-child(4) .window:nth-child(1) {
  top: calc(1 * 6px);
  left: calc(1 * 6px);
  animation: window-popup 0.1s forwards calc(1 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(2) {
  top: calc(2 * 6px);
  left: calc(2 * 6px);
  animation: window-popup 0.1s forwards calc(2 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(3) {
  top: calc(3 * 6px);
  left: calc(3 * 6px);
  animation: window-popup 0.1s forwards calc(3 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(4) {
  top: calc(4 * 6px);
  left: calc(4 * 6px);
  animation: window-popup 0.1s forwards calc(4 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(5) {
  top: calc(5 * 6px);
  left: calc(5 * 6px);
  animation: window-popup 0.1s forwards calc(5 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(6) {
  top: calc(6 * 6px);
  left: calc(6 * 6px);
  animation: window-popup 0.1s forwards calc(6 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(7) {
  top: calc(7 * 6px);
  left: calc(7 * 6px);
  animation: window-popup 0.1s forwards calc(7 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(8) {
  top: calc(8 * 6px);
  left: calc(8 * 6px);
  animation: window-popup 0.1s forwards calc(8 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(9) {
  top: calc(9 * 6px);
  left: calc(9 * 6px);
  animation: window-popup 0.1s forwards calc(9 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(10) {
  top: calc(10 * 6px);
  left: calc(10 * 6px);
  animation: window-popup 0.1s forwards calc(10 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(11) {
  top: calc(11 * 6px);
  left: calc(11 * 6px);
  animation: window-popup 0.1s forwards calc(11 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(12) {
  top: calc(12 * 6px);
  left: calc(12 * 6px);
  animation: window-popup 0.1s forwards calc(12 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(13) {
  top: calc(13 * 6px);
  left: calc(13 * 6px);
  animation: window-popup 0.1s forwards calc(13 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(14) {
  top: calc(14 * 6px);
  left: calc(14 * 6px);
  animation: window-popup 0.1s forwards calc(14 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(15) {
  top: calc(15 * 6px);
  left: calc(15 * 6px);
  animation: window-popup 0.1s forwards calc(15 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(16) {
  top: calc(16 * 6px);
  left: calc(16 * 6px);
  animation: window-popup 0.1s forwards calc(16 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(17) {
  top: calc(17 * 6px);
  left: calc(17 * 6px);
  animation: window-popup 0.1s forwards calc(17 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(18) {
  top: calc(18 * 6px);
  left: calc(18 * 6px);
  animation: window-popup 0.1s forwards calc(18 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(19) {
  top: calc(19 * 6px);
  left: calc(19 * 6px);
  animation: window-popup 0.1s forwards calc(19 * 0.1s + 0.5s * 4);
}
.window-container:nth-child(4) .window:nth-child(20) {
  top: calc(20 * 6px);
  left: calc(20 * 6px);
  animation: window-popup 0.1s forwards calc(20 * 0.1s + 0.5s * 4);
}

@keyframes window-popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 1000px) {
  .window-container#presents {
    left: 27%;
  }
  .window-container#jill {
    left: 15%;
  }
}
@media (max-width: 1000px) {
  .window-container#featuring {
    left: 27%;
    top: 334px;
  }
  .window-container#details {
    left: 54%;
  }
}
@media (max-width: 560px) {
  .window-container#presents {
    left: unset;
    top: 0;
    right: 200px;
  }
  .window-container#jill {
    left: -100px;
    top: 146px;
  }
  .window-container#featuring {
    left: unset;
    top: 250px;
    right: 100px;
  }
  .window-container#details {
    top: 415px;
    left: -57px;
  }
}

/*# sourceMappingURL=style.css.map */
