@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

$img-dir: '../src/assets/';

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("../src/assets/ms_sans_serif.woff") format("woff");
  src: url("../src/assets/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("../src/assets/ms_sans_serif_bold.woff") format("woff");
  src: url("../src/assets/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

div {
    box-sizing: border-box;
}

html {
    cursor: url('#{$img-dir}dino.gif'), default;
}

body {
    min-height: calc(100vh + 200px);
    margin: 0;
    background-image: url(#{$img-dir}dancing-cat-dancing-kitten.gif);
    background-position: center;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 23px;
    color: rgb(0, 0, 0);
}

.dragndrop-container {
    touch-action: none;
}

.site-container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

.big {
    // font-family: 'Moirai One', system-ui;;
    font-size: 55px;
    line-height: 67px;
    // color: #fff;
    // text-shadow: 1px 1px 1px #000, 1px 4px 3px #000;
}

.medium {
    font-size: 21px;
    line-height: 26px;
}

.window-container {
    position: absolute;
    will-change: transform, left, top;
    contain: layout;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    &#presents {
        left: 25%;
        top: 100px;
        rotate: -5deg;
        z-index: 10;
    }
    
    &#jill {
        left: 17%;
        top: 294.682px;
        rotate: 1deg;
        z-index: 2;
    }
    
    &#featuring {
        left: 37%;
        top: 300px;
        z-index: 1;
    }

    &#details {
        top: 150px;
        left: 55%;
    }

    table>tbody>tr>* {
        height: 18px;
    }

    &[data-size=large] {
        min-width: 240px;
  
        .window-body {
          font-size: 38px;
          white-space: nowrap;

          li {
            font-size: 14px;
            line-height: 20px;
          }
        }
    }
  
      &[data-size=medium] {
        .window-body {
          font-size: 16px;
        }
    }
    .window {
        min-width: 240px;
        position: absolute;
        opacity: 0;
    }

    opacity: 0;
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation: window-popup .1s forwards calc(#{$i} * .3s);
            @for $j from 1 through 20 {
                .window:nth-child(#{$j}) {
                    top: calc(#{$j}* 6px);
                    left: calc(#{$j}* 6px);
                    animation: window-popup .1s forwards calc(#{$j} * .1s + .5s * #{$i});
                }
            }
        }
    }
}

@keyframes window-popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .window-container {
        &#featuring {
            left: 41%;
            top: 334px;
        }
    
        &#details {
            left: 61%;
        }
    }
}

@media (max-width: 560px) {
    .window-container {
        &#presents {
            left: 0;
            top: 0;
        }
        
        &#jill {
            left: -100px;
            top: 120px;
        }
        
        &#featuring {
            left: unset;
            top: 250px;
            right: 100px;
        }
    
        &#details {
            top: 415px;
            left: -57px;
        }
    }
}